@import "~bulma/sass/utilities/initial-variables"

// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

$secondary: #cbcbfb

$breadcrumb-item-color: $primary

$footer-background-color: #080009

@import "~bulma"

html
  min-height: 100vh

nav + div
  min-height: 100vh

.menupage
  min-height: 100vh
  background: linear-gradient(195deg, #FFF 10%, $primary)

.menupage .title:hover
  text-decoration: underline
  color: $primary-invert

.click-me
  cursor: pointer

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

.no-margin
  margin: 0 !important

.my-nav
  padding: 1vh 2vw
  font-weight: bolder
  font-size: 1.5em
  border-bottom: solid 2px $primary;

.home-hero 
  background: url('../../static/img/jumbotron.jpg')

.home-body
  color: white
  background: rgba(0,0,0,0.35)

.home-body .title, .home-body .subtitle
  color: white;

.home-foot
  background: #080009
  color: white

.site-footer
  background: #080009;
  padding: 1vh 2vw;

.site-footer ul
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: flex-start;
  color: white;

.site-footer li
  margin: 0 1vw;

.site-footer li a
  color: white;
  &:hover
    color: $primary

.home-tabs a:hover
  color: $primary

.searchbar
  width: 50vw
  border-radius: 20px;
  border: solid 3px;
  font-weight: bolder;
  padding: 5px 20px;

  @media only screen and (min-width: 759px)
    font-size: larger;

.the-closer
  font-weight: bolder

  @media only screen and (min-width: 759px)
    font-size: x-large;

.warnTarget
  margin: 0 5px
  font-weight: bolder;
  visibility: hidden;

.sidebar-title
  background: $primary
  color: $primary-invert

#relatedHeader
  color: $primary
